/* ------------------------------------------------------- MAIN --------------------------------------------------------------------- */
.titulo{
    text-align: center;
    color: #10742E;
}

/*valores*/

.valor{
    background-color: #F4FEE3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.correto{
    position: absolute;
    margin-right: 20px;
}

/*fundadores e desenvolvedores*/
.integrantes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.foto-integrantes{
    border-radius: 10px;
}

.integrantes ul{
    list-style-type: none;
}

.integrantes li{
    margin-top: 10px;
}

/* Objetivos */
.objetivos-linha{
    display: flex;
    justify-content: space-around;
}

.objetivo{
    background-color: #1A990F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    color: white;
}


@media screen and (max-width: 849px) {
    .titulo{
        margin: 40px;
        font-size: 26px;
    }

    #img-valores{
        width: 100vw;
        height: 40vh;
    }

    .valor{
        font-size: 16px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.148);
        width: 400px;
        height: 60px;
        margin: 10px auto;
    }

    .correto{
        width: 40px;
        left: 15vw;
    }
    
     /*fundadores e desenvolvedores*/
     .integrantes{
        font-size: 14px;
        flex-direction: column;
    }

    .foto-integrantes{
        width: 300px;
    }

    .integrantes ul{
        margin: 20px 0px;
    }

    /*Objetivos*/


    .objetivos-linha{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 50px;
    }

    .objetivo{
        font-size: 12px;
        height: 200px;
        width: 130px;
    }

    .objetivo img{
        margin-top: 20px;
        width: 70px;
    }
}

/*Mexendo no correto, para ficar do lado das palavras caso aumente um pouco a tela
  Mexendo na imagem também, que fica muito esticada
*/
@media screen and (min-width: 640px) {

    #img-valores{
        width: 100vw;
        height: 60vh;
    }

    .correto{
        width: 40px;
        left: 25vw;
    }
}

@media screen and (min-width: 850px) {
    

    .titulo{
        margin: 40px;
        font-size: 28px;
    }

    /*Valores*/
    #valores{
        display: flex;
    }

    #img-valores{
        width: 56vw;
        height: 52vh;
    }

    .valor{
        font-size: 20px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.148);
        width: 400px;
        height: 60px;
        margin-top: 10px;
    }

    .correto{
        width: 60px;
        left: 56vw;
    }

    /*fundadores e desenvolvedores*/
    .integrantes{
        font-size: 18px;
    }

    .foto-integrantes{
        width: 400px;
    }

    /*Objetivos*/

    .objetivos-linha{
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .objetivo{
        font-size: 16px;
        height: 250px;
        width: 180px;
    }

    .objetivo img{
        margin-top: 20px;
        width: 110px;
    }
    
}

@media screen and (min-width: 1250px) {
    .titulo{
        margin: 60px;
        font-size: 32px;
    }

    /* Valores */
    #img-valores{
        width: 56vw;
        height: 56vh;
    }

    .valor{
        font-size: 29px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.148);
        width: 540px;
        height: 70px;
        margin-top: 15px;
    }

    .correto{
        width: 70px;
    }

    /*fundadores e desenvolvedores*/
    .integrantes{
        font-size: 26px;
    }

    .foto-integrantes{
        width: 500px;
    }

    /*Objetivos*/

    .objetivos-linha{
        margin-right: 200px;
        margin-left: 200px;
        margin-top: 50px;
    }
    
    .objetivo{
        font-size: 20px;
        height: 300px;
        width: 230px;
    }

    .objetivo img{
        margin-top: 30px;
        width: 145px;
    }
    
}
