.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

*{
    margin: 0px;
    padding: 0px;
    font-family: "Righteous", sans-serif;
}

/*
CORES:
  #1A990F
  #8BC579
  #15612C
  #B2DE43
  #37AA35
  #D9D9D9
  #10742E
  #F4FEE3
  
*/